/* BASIC SETUP*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	scroll-behavior: smooth;
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	text-align: justify;
	width: 1540px;	
	width: auto;
	overflow-x: hidden;
}
.clearfix{zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
/* REUSEABLE COMPONENTS*/
section {

	padding: 80px 0;
}

.box{
	padding: 1%;
	word-spacing: -1px;
}


.row{
	max-width: 1140px;
	margin: 0 auto;
}

/* HEADER*/

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);								
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat-y;
}
.hero-text-box{
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* HEADINGS*/

h1, h2, h3 {
	font-weight: 300;
	text-transform: uppercase;
	}

h1{
	font-size: 300%;
	color: white;
	word-spacing: 4px;
	margin-top: 0;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

h2 {
	word-spacing: 2px;
	font-size: 180%;
	text-align: center;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

h2:after{
	display: block;
	height: 2px;
	background-color: #e67e22;
	content: " ";
	width: 250px;
	margin: 0 auto;
	margin-top: 20px;
}
.fortunate{margin-top: 80px;}
h3{
	font-size: 110%;
	text-align: justify;
	margin-bottom: 15px;
}

/*------PARAGRAPH-------*/
.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;


}

.section-features .long-copy{
	margin-bottom: 40px;
}



.box p{
	line-height: 145%;
	font-size: 90%;
}

/*------ICONS-------*/
.icon-big {
	font-size: 350%;
	display: block;
	color: #e67e22;
	margin-bottom: 10px;

}
.icon-small{
	display: inline-block;
	width: 30px;
	text-align: center;
	font-size: 120%;
	color: #e67e22;
	/*------Secrets to align texts and icons-------*/
	line-height: 120%;
	vertical-align: middle;
	margin-top: -4px;
}

/*------LINKS-------*/
.btn-twitter{
	text-decoration: none;
}

.btn-twitter:link,
.btn-twitter:visited {
	color:#e67e22;
	border-bottom: 1px solid #e67e22;
	padding-bottom: 2px;

}

.btn-twitter:hover,
.btn-twitter:active {
	color: #555;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.2s color 0.2s;

}


/*------BUTTONS-------*/

.btn:link,
.btn:visited,
input[type=submit] {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 2000px;
	transition: background-color 0.2s, border 2px, color #e67e22;
}

.btn-full:link, 
.btn-full:visited,
input[type=submit]{
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
}


.btn-ghost:link, 
.btn-ghost:visited {
	border: 1px solid #e67e22;
	color:#e67e22;
}

.btn:hover, 
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
	background-color:#cf6d17;
}

.btn-full:hover, 
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active
{
	
	border: 1px solid #cf6d17;
	color: #fff;
}


.btn-ghost:hover, 
.btn-ghost:active{
	border: 1px solid #cf6d17;
	color:#fff;
}

.logo{ 
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
	

}

.main-nav{
	display: block;
	float: right;
	list-style: none;
	margin: 60px;
}

.main-nav li{
	display: inline-block;
	margin-left: 50px;

}

.main-nav li a{
	display: block;
}

.main-nav li a:link, .main-nav li a:visited{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;

}

.main-nav li a:hover, .main-nav li a:active{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid #cf6d17;
}

.mobile-nav-icon{
	float:right; 
	margin-top: 30px;
	cursor: pointer;
	display: none;
}
 
.mobile-nav-icon i{
	font-size: 200%;
	color: #fff;
}

/*----MEALS----*/
.meal-section{
	padding: 0;
}
.meals-showcase{
	list-style: none;
	width: 100%;
}
.meals-showcase li{
	display: inline-block;
	width: 25%;
	float: left;
}
.meal-photo{
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}
.meal-photo img{
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);
    transition: transform 0.5s opacity 0.7s;
    
}

.meal-photo img:hover{
	opacity: 1;
	transform: scale(1.03);
	
}

/*----MEALS----*/
.steps-box:first-child {
	text-align: right;
	padding-right: 3%;
	margin-top: 30px;
}


/*----CITIES----*/
.box img{
	width: 100%;
	height: 100%;
	margin-bottom: 15px;
}
.city-features{
	margin-bottom: 5px;
}




/*----TESTIMONIALS----*/
#customer-testimonials {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.82)), url(img/back-customers.jpg);
	background-size: cover;
	background-position: center;
	height: 70vh;
	background-attachment: fixed;

}
.test-2{
	margin-top: 30px;
}
blockquote{
	padding: 2%;
	line-height: 145%;
	position: relative;
}

blockquote:before {
	content: "\201C";
	font-size: 400%;
	display: block;
	position: absolute;
	top: 5px;
	left: 4px;
}
	
}
cite{
	font-size: 90%;
	margin-top: 25px;
	display: block;
}
/*----PLAN----*/
.section-plan {
	background-color: #f4f4f4;
}
.plan-box{
	background-color:#fff;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
}

.plan-box div{
	padding: 15px;
	border-bottom: 1px solid #e8e8e8;
}
.plan-box div:first-child{
	background-color: #fcfcfc;
}
.plan-box div:last-child{
	text-align: center;
	background-color: #fcfcfc;
}

.plan-price{
	font-size: 300%;
	margin-bottom: 10px;
	color: #cf6d17;
}
.plan-price span{
	font-size: 30%;
	font-weight: 300%;

}

.plan-price-meal{
	font-size: 80%;
}
.plan-box ul{
	list-style: none;
}

.plan-box ul li{
	margin: 5px 0;

}
/*----CONTACT-FORM----*/
.contact-form{
	width: 60%;
	margin: 0 20%;
}
/*.contact-form:last-child{margin-left: 30%;}*/
input[type=text],
input[type=email],
input[type=submit],

select,
textarea {
	border: 1px solid  #e8e8e8;
	border-radius: 1px;
	width: 100%;
	padding: 7px;
}
textarea{
	height:100px;
}

input[type=text],
input[type=email],
input[type=submit],
select,
textarea
input[type= checkbox]
{
	margin: 10px 5px 10px 0;
}
/*----footer----*/
footer{
	background-color: #333;
	margin-top: 10px;
	padding: 60px;
}

.footer-nav{
	list-style: none;
	float: left;
}

.social-links{
	list-style: none;
	float: right;
}
.footer-nav li,
.social-links li{
	display: inline-block;
	margin: 0;
	border-right: 1px solid #fff;
	padding: 0 5px;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
	text-decoration: none;
	color: #cf6d17;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active{
	color: #ddd;
	transition: color 0.2s;
}
footer p{
	color: #ddd;
	font-size: 90%;
	text-align: center;
	margin-left: 150px;
}